.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}
.flex-jus-center {
  display: flex;
  justify-content: center;
}
.mt-16 {
  margin-top: 16px;
}
.btn {
  font-size: 18px;
  padding: 14px 24px;
  background-color: #282828;
  color: rgb(245, 245, 245);
  border-radius: 14px;
}

.btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.input {
  padding: 14px 24px;
  border-radius: 14px;
}

.btn-remove {
  margin-left: 8px;
  margin-top: 8px;
}

.footer {
  height: 100px;
  background-color: #282828;
  margin-top: 40px;
  color: rgb(245, 245, 245);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
