body {
  color: #282828;
  background-color: rgb(245, 245, 245);
  font-size: 16px;
}
.h1 {
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
}

.h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
}

.header__status {
  font-size: 20px;
  text-align: center;
  margin-top: 6px;
}

.forecast {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.header__actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 16px 0px;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 16px 0px;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 18px;
  }
  .header__status {
    font-size: 16px;
  }
  .forecast {
    flex-direction: column;
  }
}
